{% if display_submitted %}
	<footer>
		{{ author_picture }}
		<div {{ author_attributes.addClass('author').setAttribute('id', 'author') }}>
			{% trans %}Authored by
			{{ author_name }}
			on
			{{ date }}
			( author of {{ user_node_count }} nodes)
			{% endtrans %}
			{{ user_contact_button }}
			{{ metadata }}
		</div>
	</footer>
{% endif %}
